@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Supermercado+One&display=swap");

body {
  margin: 0;
  font-family: "Supermercado One", cursive;
}

* {
  margin: 0;
  padding: 0;
}

input,
input:focus,
textarea,
textarea:focus {
  border: unset;
  outline: unset;
  box-shadow: unset;
}
